{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block monTitre %}Liste des joueurs{% endblock %}
{% block body %}
 
<div class="container">
    {# <button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-check"></i> #}
        <section class="formFilterbirthDate p-4">
        {{ form_start (form) }}
            <div class="row no-gutters align-items-center text-center">
                <div class="col p-1">            
                    {{ form_row(form.minYearOfBirth) }}
                </div>    
                <div class="col p-1">        
                    {{ form_row(form.maxYearOfBirth) }}
                </div>
                <div class="col-4 ">        
                    <input type="submit" value="rechercher" class="btn btn-info m-2 p-2">
                    {% if admin %}
                    <button class="btn btn-success btn-circle m-2 p-2" type="button" href="{{ path('creation_player') }}">Player  <i class="fa fa-plus"></i></button>
                    {% endif %}
                </div>
            </div>            
        {{ form_end (form) }} 
       
        </button>   
  
    
        </section>    
</div>       
{# 
<button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i> #}

<div class="center-block">
    <div class="row "> 
        {%  for player in players %}
            <div class="card-deck m-4" style="width: 25rem; max-width: 30rem;">
                <div class="card">
                    <h5><div class="card-header text-center bg-default text-white">{{ player.fname }}</div></h5>
                        <div class="card-body text-center">
                            <p class="card-text">
                                <!-- <img src="{#{{asset('images/teams/'~ player.team.image) }}#}" class="perso_imgPlayer img-fluid"> -->
                                {# <h5 class="card-tittle">{{ player.fname }}</h5> #}
                                <div>Nom : {{ player.lname }}</div>
                                <div>Catégorie : {{ player.team.category }}</div>
                                <div>Année : {{ player.yearOfBirth }}</div>
                            </p>                
                            
                        
                            {% if admin %}
                                <div class="row no-gutters">
                                    <a class="col btn btn-primary text-white " type="button" href="{{ path('admin_player_modification', {'id' : player.id}) }}">Modifier</a>
                                    <a class="col btn btn-danger text-white " type="button" href="#">Supprimer</a>  
                                </div>
                            {% endif %}
                        </div>    
                </div>    
            </div>
        {% endfor %}  
    </div>
</div>



    <div class="navigation">
        {{ knp_pagination_render(players) }}
    </div>

{% endblock %}
