{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}
{% block monTitre %}Joueurs{% endblock %}

{% block body %}
{% include "header2.html.twig" %} 

<a href="{{ path('players') }}" class="btn btn-primary m-2 p-2">yearOfBirth>2010</a> 

    {% for message in app.flashes('success') %}
        <div class="container">
            <div class="alert alert-success" align="center">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>    
    {% endfor %}


<div class="container-fluid">  
    <div class=" mt-4 formFilterbirthDate p-4 text-info">
        {{ form_start (form) }}
            <div class="row no-gutters align-items-center text-center">
                <div class="col p-1">            
                    {{ form_row(form.minYearOfBirth) }}
                </div>    
                <div class="col p-1">        
                    {{ form_row(form.maxYearOfBirth) }}
                </div>
                <div class="col-4 text-center">        
                    <input type="submit" value="rechercher" class="btn btn-info m-2 p-2">
                </div>
            </div>            
        {{ form_end (form) }} 
    </div> 
</div>  







<div class="container-fluid">  
    <div class="table table-bordered text-info p-4">   
        <p>Tapez quelque chose dans le champ de saisie pour rechercher dans le tableau les prénoms, noms de famille ou année:</p>  
        <input id="myInput" type="text" placeholder="Search..">
    </div>
</div>   

<div class="container-fluid">  
    <div class="table table-bordered text-info p-4">   
        <table id="sortTable" class="table table-hover">
            <thead class="thead-light">
                {% if is_granted('ROLE_ADMIN') %}               
                    <a href="{{ path('admin_ajout_player') }}" class="btn btn-success btn-xs pull-left p-4 m-4"><i class="fa fa-plus fa-lg"></i> Add Player</a>
                {% endif %} 
                <tr>   
                    <th>Photo</th>
                    <th onclick="sortTable(0)">Prénom</th>
                    <th onclick="sortTable(1)">Nom</th>
                    <th onclick="sortTable(2)">Catégorie</th>
                    <th onclick="sortTable(3)">Année</th>
                   
                    {% if is_granted('ROLE_ADMIN') %}
                    <th class="text-center">Action</th>
                    {% endif %}     
                </tr>
            </thead>
            <tbody id="myTable">
                {%  for player in players %}
                    <tr>
                        <td><img src="{{ asset('images/players/' ~ player.image) }}" class="perso_imgPlayer img-fluid"></td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('admin_modification_player', {'id' : player.id}) }}"><strong>{{ player.fname }}</strong></a></td>
                        {% else %}
                        <td><strong>{{ player.fname }}</strong></td>                        
                        {% endif %}
                        <td>{{ player.lname }}</td>
                        <td>{{ player.team.category.name }}</td>

                        <td>{{ player.yearOfBirth }}</td>
                   
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div class="row">
                               
                            
                                <form method="POST" action="{{ path('admin_suppression_player', {'id':player.id}) }}" onsubmit="return confirm('êtes-vous sûr de confirmer la suppression de {{ player.fname}} {{ player.lname}}?')">              
                                    <input type="hidden" name="_method" value="delete"> 
                                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ player.id)}}"> 
                                    <button>
                                        <i class="fa fa-trash fa-lg"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %} 
            </tbody>     
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(players) }}
    </div>
</div>  


               
               
          




{% endblock %}
