{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}
{% block monTitre %}Team{% endblock %}

{% block body %}
{% include "header2.html.twig" %} 

<div class="container">    
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}   
</div>   


<div class="container p-4 mb-4">
     <div class="container-fluid"> 
        <main role="main">
            <div class="album py-5 bg-light">
            {% if is_granted('ROLE_ADMIN') %}    
            <a href="{{ path('admin_ajout_team') }}" class="btn btn-success btn-xs pull-left p-4 m-4"><i class="fa fa-plus fa-lg"></i> Add Team</a>
            {% endif %}    
                <div class="container">
                    <div class="row">
                    {%  for team in teams %}
                        <div class="col-md-4 text-center mt-2">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-head m-4">
                                    <img src="{{ asset('images/teams/' ~ team.image) }}" id="perso_imgTeam">
                                </div>
                                <div class="card-body">
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <p class="card-text"><a href="{{ path('admin_modification_team', {'id' : team.id}) }}"><strong>{{ team.name }}</strong></p>
                                    {% else %}
                                    <p>{{ team.name }}</p> 
                                    {% endif %} 
                                    <p>{{ team.category.name }}</p>   
                                     {% if is_granted('ROLE_ADMIN') %}                       
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <form method="POST" action="{{ path('admin_suppression_team', {'name':team.name}) }}" onsubmit="return confirm('êtes-vous sûr de confirmer la suppression {{ team.name }} ?')">              
                                                <input type="hidden" name="_method" value="delete"> 
                                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ team.name)}}"> 
                                                <button>
                                                    <i class="fa fa-trash fa-lg"></i>
                                                </button>
                                            </form>
                                            </div> 
                                    </div>
                                    {% endif %} 
                                </div>
                            </div>
                        </div>
                        {% endfor %}    
                    </div>
                </div>
            </div>
        </main>
    </div>    
</div>    
{# {% endif %}   #}
{% endblock %}
