{% extends 'base.html.twig' %} 

{% block title %}Accueil{% endblock %}

{% block monTitre %}degemer mat ! BeforGame{% endblock %}
{% block body %}





<!-- page accueil V1 -->
<div class="container">
   
        {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
            <div class="row mbr-justify-content-center">
    
                <div class="col-lg-6 mbr-col-md-10" >

                    <a href="{{ path('menu') }}" class="buttonMenu">                  
                        <div class="ico-button">
                            <i class="fa fa-home fa-lg"></i>
                        </div>
                        <div class="text-button vcenter">
                            <h2 class="title3">Home</h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </a>                   
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <a href="{{ path('menu') }}" class="buttonMenu">
                        <div class="ico-button">
                            <i class="fa fa-users fa-lg"></i>
                        </div>
                        <div class="text-button vcenter">
                            <h2 class="title3">Ma Team</h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <a href="{{ path('menu') }}" class="buttonMenu">
                        <div class="ico-button">
                            <i class="fa fa-user fa-lg"></i>
                            
                        </div>
                        <div class="text-button vcenter">
                            <h2 class="title3">Contact</h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 mbr-col-md-10">
                    <a href="{{ path('menu') }}" class="buttonMenu">
                        <div class="ico-button">
                            <i class="fa fa-dashboard fa-lg"></i>
                        </div>
                        <div class="text-button vcenter">
                            <h2 class="title3">Convocations</h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                    </a>    
                </div>
    
            </div>
  
</div>



{% endblock %}
