{% extends 'base.html.twig' %}

{% block title %}Modification d'un player{% endblock %}
{% block monTitre %}Player {{ player.lname }}{% endblock %}

{% block body %}
{% include "header2.html.twig" %}

<div class="jumbotron bg-dark">
    <h1 class="text-center text-info">Modifier un Joueur</h1>
</div>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div id="modifPlayerForm" class="mt-4 text-info">
            {{form_start(form)}}    
                    <div class="row">
                        <div class="col-6 p-4 m-auto">
                            <div>{{ form_row(form.imageFile) }}</div> 
                        {{form_widget(form)}}
                            <a href="{{ path('admin') }}" class="btn btn-primary">Retour</a>
                            <input type="submit" value="Valider" class="btn btn-success">
                        </div>
                    </div>
                </div>    
            {{form_end(form)}}
        </div>    
    </div>
</div>        
        
{% endblock %}
