{% extends 'base.html.twig' %}

{% block title %}Modification de l'équipe{% endblock %}
{% block monTitre %}Equipe{% endblock %}

{% block body %}
{% include "header2.html.twig" %}



 <div class="container-fluid text-info"> 
    {{ form_start(modifEtAjoutTeamForm)}}
        <div class="row">
            <div class="col">{{ form_row(modifEtAjoutTeamForm.imageFile) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(modifEtAjoutTeamForm.name) }}</div>
            <div class="col">{{ form_row(modifEtAjoutTeamForm.category) }}</div>
        </div>
        <a href="{{ path('admin_players') }}" class="btn btn-primary m-2 p-2">Retour</a>
        <input type="submit" value="Valider" class="btn btn-success m-2 p-2">   
    {{ form_end(modifEtAjoutTeamForm)}}
</div>    
     
        
{% endblock %}
