{% extends 'base.html.twig' %}

{% block title %}Modification d'un player{% endblock %}
{% block monTitre %} 
{% if isModification %}
    Modification {{ player.fname}}
{% else %}
    Ajout d'un Player
{% endif %}
{% endblock %}
{% block body %}
{% include "header2.html.twig" %}
<div class="container-fluid text-info"> 
    {{ form_start(modifEtAjoutPlayerForm)}}
        <div class="row">
        {% if isModification %}
            <div class="col">{{ form_row(modifEtAjoutPlayerForm.imageFile) }}</div>
        {% endif %}
        </div>
        <div class="row">
            <div class="col">{{ form_row(modifEtAjoutPlayerForm.fname) }}</div>
            <div class="col">{{ form_row(modifEtAjoutPlayerForm.lname) }}</div>
             <div class="col">{{ form_row(modifEtAjoutPlayerForm.phone) }}</div>
        </div>

        <div class="row">
            <div class="col">{{ form_row(modifEtAjoutPlayerForm.mail) }}</div>
             <div class="col">{{ form_row(modifEtAjoutPlayerForm.yearOfBirth) }}</div>
              <div class="col">{{ form_row(modifEtAjoutPlayerForm.team) }}</div>
        </div>
        <a href="{{ path('admin_players') }}" class="btn btn-primary m-2 p-2">Retour</a>
        <input type="submit" value="Valider" class="btn btn-success m-2 p-2">   
    {{ form_end(modifEtAjoutPlayerForm)}}
</div>       
        
{% endblock %}
