{% extends 'base.html.twig' %} 

{% block title %}Contact{% endblock %}

{% block body %}
{% block monTitre %}Nouveau Contact{% endblock %}

<!-- formulaire qui permet de formater le mail -->

<p>Prénom : {{contact.fname}}</p>
<p>Nom : {{contact.lname}}</p>
<p>Tèl : {{contact.phone}}</p>
<p>E-mail : {{contact.email}}</p>
<p>Message : {{contact.message|raw}}</p>

{% endblock %}