<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ------->
                
                <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
                
                <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
        <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
        
                <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <link rel="stylesheet" href="{{asset('css/main.css')}}">
                <!-- https://fontawesome.com/ -->
                <!-- // <script src="https://kit.fontawesome.com/d40561186c.js" crossorigin="anonymous"></script> -->
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        
                <!-- https://www.w3schools.com/icons/ -->
                <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
                <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
                <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"> -->
        



{# {% block monTitre %}{% endblock %} #}

{% block body %}

<div class="container" id="mainHome">
    
    <div class=" overlay-image ">
        <img class="image" src="{{ asset("images/other/ball_b&w.jpg") }}" alt="sport">  
             <div class="subTitle">
                <section class="mainBG">
                    <div class="jumbotron mainBG-txt mr0">
                        <div class="container">
                            <div class="row text-center jum-bg">
                                <h1 class="mr0"><strong>degemer mat ! BeforGame</strong></h1>
                                <p> Bienvenue sur la plateforme de BeForgame </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </div>       
    <!-- mainMenu avec 4 gros button -->
  
    <div class="row mbr-justify-content-center">
        <div class="col-lg-6 mbr-col-md-10" >
            <a href="{{ path('dashboard') }}" class="buttonMenu">                  
                <div class="ico-button">
                    <i class="fa fa-dashboard fa-lg"></i>
                </div>
                <div class="text-button vcenter">
                    <h2 class="title3">DashBoard</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
            </a>                   
        </div>
        <div class="col-lg-6 mbr-col-md-10">
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')  %} 
            <a href="{{ path('players') }}" class="buttonMenu">
                <div class="ico-button">
                    <i class="fa fa-users fa-lg"></i>
                </div>
                <div class="text-button vcenter">
                    <h2 class="title3">Ma Team</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
            </a>
        {% endif %}    
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <a href="{{ path('contact') }}" class="buttonMenu">
                <div class="ico-button">
                    <i class="fa fa-user fa-lg"></i>
                    
                </div>
                <div class="text-button vcenter">
                    <h2 class="title3">Contact</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
            </a>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')  %} 
            <a href="{{ path('events') }}" class="buttonMenu">
                <div class="ico-button">
                    <i class="fa fa-calendar fa-lg"></i>
                </div>
                <div class="text-button vcenter">
                    <h2 class="title3">Events</h2>
                    <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
            </a>
        {% endif %}         
        </div>
    </div>
</div>

          
{% endblock %}


{% block javascripts %}{% endblock %}
<script src="{{ asset('js/index.js') }}"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
